<div id="modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="col s12">
            <h4><i class="material-icons">keyboard_arrow_right</i>Novo prato
                <small class="grey-text">insira o prato</small>
            </h4>

            <form class="row">
                <div class="input-field col s12">
                    <input type="text" id="name">
                    <label for="name">Nome do prato</label>
                </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>Foto</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" class="file-path validate">
                    </div>
                </div>

                <div class="input-field col s12">
                    <textarea id="description" class="material-textarea"></textarea>
                    <label for="description">Description</label>
                </div>

                <div class="input-field col s12">
                    <input type="text" id="name">
                    <label for="name">Nome do prato</label>
                </div>

                <div class="input-field col s12">
                    <input type="text" id="price">
                    <label for="price">Valor</label>
                </div>

                <div class="input-field col s12">
                    <input type="button" value="Salvar" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>
