<div class="row">
    <div class="col s12">
        <h4><i class="material-icons">keyboard_arrow_right</i>Restaurante
            <small class="grey-text">atualize os dados do restaurante</small>
        </h4>
    </div>

    <div class="col s9">
        <form class="row" (submit)="save($event)">
            <div class="input-field col s12">
                <input type="text" id="name" name="name" [(ngModel)]="restaurant.name" placeholder="Nome">
                <label for="name">Nome do restaurante</label>
            </div>

            <div class="input-field col s12">
                <textarea id="description" name="description" [(ngModel)]="restaurant.description"
                          class="materialize-textarea" placeholder="Descrição"></textarea>
                <label for="description">Description do restaurant</label>
            </div>

            <div class="input-field col s6">
                <input type="text" id="cep" name="cep" [(ngModel)]="address.cep" placeholder="CEP"
                       (keyup)="searchCep()">
                <label for="cep">CEP::</label>
            </div>

            <div class="input-field col s9">
                <input type="text" name="address" [(ngModel)]="address.address" placeholder="address" id="address">
                <label for="address">Endereço</label>
            </div>

            <div class="input-field col s3">
                <input type="text" name="number" [(ngModel)]="address.number" placeholder="numero" id="number">
                <label for="number">Número</label>
            </div>

            <div class="input-field col s6">
                <input type="text" name="city" [(ngModel)]="address.city" placeholder="Cidade" id="city">
                <label for="city">Cidade</label>
            </div>

            <div class="input-field col s6">
                <input type="text" name="bairro" [(ngModel)]="address.neighborhood" placeholder="Bairro" id="bairro">
                <label for="bairro">Bairro</label>
            </div>

            <div class="input-field col s6">
                <input type="text" name="state" [(ngModel)]="address.state" placeholder="Estado" id="state">
                <label for="state">Estado</label>
            </div>

            <div class="input-field col s12">
                <input type="text" name="complement" [(ngModel)]="address.complement" placeholder="Complemento"
                       id="complement">
                <label for="complement">Complemento</label>
            </div>

            <div class="input-field col s12">
                <input type="submit" value="Salvar" class="btn">
            </div>

        </form>
    </div>


    <div class="col s3">
        <div class="card-panel grey white-text center-align photo-changer"
             [ngClass]="{
                'lighten-1':dragging,
                'grey': upload_status ==='not',
                'amber': upload_status ==='sending',
                'green': upload_status ==='success',
                'red': upload_status ==='error'
                }"
             (click)="file.click()"
             (drop)="upload($event)"
             (dragover)="dragover($event)"
             (dragleave)="dragging = false">

            <i class="material-icons">insert_photo</i>
            <p *ngIf="!dragging;else release">Arrastre sua foto aqui ou clique para enviar</p>
            <ng-template #release>
                <p *ngIf="upload_status === 'not'">Solte para enviar</p>
                <p *ngIf="upload_status === 'sending'">Enviando, favor aguarde...</p>
                <p *ngIf="upload_status === 'success'">Enviado com sucesso, você pode arrastrar ou
                    clicar para enviar
                    outro</p>
                <p *ngIf="upload_status === 'error'">Error ao enviar imagem para o servidor, tente
                    novamente ou contate ...</p>
            </ng-template>

            <input type="file" accept="image/*" #file style="display: none;" (change)="upload($event)">
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-content">
            <div class="row">
                <div class="col s12 margin-bottom">
                    <span class="card-title">Fotos do restaurante</span>
                </div>
                {{photos | json}}
                <div class="col s3 margin-bottom" *ngFor="let photo of photos">
                    --- {{ photo | json }}
                    <!--{{ URL::to('img/' . $myFile) ]) }}-->
                    <!--<img src="http://3.bp.blogspot.com/-9p4wwsufLgM/VIWshn8-OvI/AAAAAAAAMYY/Y12Ve3Eg-2w/s1600"-->
                    <!--class="materialboxed responseive-img" width="300"/>-->
                    <img src="http://localhost:8000{{photo.full_url}}{{photo.url}}"
                         class="materialboxed responseive-img" width="300"/>
                    <a class="btn"><i class="material-icons">cancel</i></a>
                </div>
            </div>
        </div>

        <div class="car-action">
            <div class="row">
                <div class="file-field input-field col s9">
                    <div class="btn">
                        <span>Foto</span>
                        <input type="file" (change)="preparePhoto($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-pth validate" type="text">
                    </div>
                </div>
                <div class="input-field col s3 right-align">
                    <input type="submit" value="enviar" class="btn" (click)="sendPhoto()">
                </div>
            </div>
        </div>
    </div>
</div>